@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  background-image: url("https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}
.glassmorphism-light-1 {
  text-align: center;
  position: flex;
  margin: 50px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.image {
  position: flex;
  width: 50%;
}

.input {
  margin: 20px;
}

.p {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 13px;
}

.H1 {
  color: #fff;
  font-size: 40px;
}
